<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @interest.description %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @interest.frequency %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
