
      <div class="container">   
        <div class="posts">
          <% @posts.each do |post| %>
            <h2 style="font-family:Osaka Monospaced;color:#3333D6"><%= post.title %></h2>
             <p style="font-family:Cottonwood;font-size:17px;"><%= post.summary %>
             </p>
             <strong><p style="font-family:tahoma;color:#bdc3c7"> <%= time_ago_in_words(post.created_at) %> ago.</p></strong>
            <p style="color:#00008F">source:<%= post.source %></p>
               <div class="post-meta">
                
               <p style="font-family:tahoma;color:#00008F;"> by <%= post.user.name if post.user %></p></div>
     <hr> 
    </div>
  <% end %>
       
</div>  




