
      <div class="container">   
        <div class="posts">
          <% @posts.each do |post| %>
            <h2 style="font-family:Osaka Monospaced;color:#3333D6;margin-bottom:25px;"><%= post.title %></h2>
             
             <ul style="list-style-type:square">
             
             <li class="bullet1"> <span> <p style="font-family:Cottonwood;font-size:17px;margin-bottom:25px"><%= post.summary %>
             </p> </span></li>
             
             <li class="bullet2"> <span> <p style="font-family:Cottonwood;font-size:17px;margin-bottom:25px"><%= post.summary2 %>
             </p> </span> </li>
             
             <li class="bullet3"> <span> <p style="font-family:Cottonwood;font-size:17px;margin-bottom:25px"><%= post.summary3 %>
             </p> </span> </li>
             
             </ul>
             
             <p style="font-family:tahoma;color:#7f8c8d;margin-left:28px"> <%= time_ago_in_words(post.created_at) %> ago.</p>
              
              <p style="font-family:tahoma;color:red;margin-left:28px">source:<%= post.source %></p>
               
               <div class="post-meta">
                 <p style="font-family:tahoma;color:green;margin-left:28px"> by <%= post.user.name if post.user %></p></div>
     <hr> 
    </div>
  <% end %>
       
</div>  




