     
      
      <div class="container">   
          <% @posts.each do |post| %>
          <div class="posts">
             <div class="post-meta">
                 <p style="font-family:tahoma;margin-left:0px;margin-bottom:2px;font-size:17px; color:#3333D6"><%= post.user.name if post.user %></p> 
                      <p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> <%= time_ago_in_words(post.created_at) %> ago</p>

               </div>
                

              <p style="font-family:Open Sans;font-size:17px;font-weight:light;margin-bottom:25px"><%= post.title if post.title %> <%=post.summary %> <%= post.summary2 if post.summary2 %>
             </p> 

         
             
             


             


             










             <ul style="list-style-type:none;padding: 0px; margin: 0px">

              <p style="margin-bottom:25px"><% post.title %></p>

             <li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;"> <span> <p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"><% post.summary2 %>
             </p> </span> </li>
             
             <li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;"> <span> <p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"><% post.summary3 %>
             </p> </span> </li>
             
             
             </ul>
             
             <p style=font-size:15px ><% link_to "Read Article", post.source,{:style=>'color:#3333D6;',:class => "css_class"} %></p>

             
              
               
     
    </div>

  <hr> 
  
  <% end %>
       



</div>  



