    <div id="posts">
    <% @posts.each do |post| %>
    <div class="box panel panel-default">
        <strong> title: <%= post.title %></strong>
        <%= post.summary %>
        <div class="panel-body">
       <p> source: <%= post.source %></p>
       <p> posted <%= time_ago_in_words(post.created_at) %> ago.</p>
       <p style="color:green"> by <%= post.user.name if post.user %></p>
      </div>
    </div>
  <% end %>
</div>
  



